
// Potatoes CSS for styling images on all potato pages
// Author: Ash-Lee Hommy 040840815
// Nov 1st, 2017


// Sets position of potato body
img#body
{
    position:absolute;
    top: 50px;
    left: 200px;
}

// Sets position of eyes in relation to potato
img#eyes
{
    position:absolute;
    top: 200px;
    left: 240px;
}

// Sets position of mouth in relation to potato
img#mouth
{
    position:absolute;
    top: 340px;
    left: 260px;
}
