// Welcome CSS for styling images for background and index pages
// Author: Ash-Lee Hommy 040840815
// Nov 1st, 2017

// Styling for background (body)
body { 
  background: url(background1.png) no-repeat center fixed; 
  background-color: #FFFFFF;
  background-size: cover;
}

// Styling for the button (to be altered)
#button {
  background: #bf1c1c;
  background-image: -webkit-linear-gradient(top, #bf1c1c, #700a0a);
  background-image: -moz-linear-gradient(top, #bf1c1c, #700a0a);
  background-image: -ms-linear-gradient(top, #bf1c1c, #700a0a);
  background-image: -o-linear-gradient(top, #bf1c1c, #700a0a);
  background-image: linear-gradient(to bottom, #bf1c1c, #700a0a);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 9px 5px #3d3a3a;
  -moz-box-shadow: 0px 9px 5px #3d3a3a;
  box-shadow: 0px 9px 5px #3d3a3a;
  font-family: Arial;
  color: #ffffff;
  font-size: 33px;
  padding: 40px 28px 40px 28px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

// On hover of button
#button:hover {
  background: #ff5757;
  background-image: -webkit-linear-gradient(top, #ff5757, #b80b0b);
  background-image: -moz-linear-gradient(top, #ff5757, #b80b0b);
  background-image: -ms-linear-gradient(top, #ff5757, #b80b0b);
  background-image: -o-linear-gradient(top, #ff5757, #b80b0b);
  background-image: linear-gradient(to bottom, #ff5757, #b80b0b);
  text-decoration: none;
}


